#home .hero {
    width: 100%;
    height: 100vh;

    background-image: url(/img/home_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    position: relative;
}

#home .hero-introduce {
    width: 45%;

    border-radius: 10px;

    background: #fff3e3;

    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
}

#home .hero-content {
    padding: 62px 0 37px 39px;
}

#home .hero-content .sub-title {
    font-weight: 600;
    letter-spacing: 0.3rem;
}

#home .hero-content .title {
    margin-top: 4px;

    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.25;

    color: #b88e2f;
}

#home .hero-content .desc {
    margin-top: 17px;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.33;
}

#home .hero-content .hero-btn {
    max-width: 222px;
    height: 74px;
    margin-top: 46px;

    font-weight: 700;

    color: #fff;
    background: #b88e2f;
}

#home .browse {
    margin-top: 56px;
}

#home .browse-content {
    max-width: calc(100% - 252px);
    margin: auto;
}

#home .browse-introduce .sec-title {
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;

    color: #333;
}

#home .browse-introduce .desc {
    margin-top: 5px;

    font-size: 2rem;
    text-align: center;

    color: #666;
}

#home .browse-category {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    margin-top: 62px;
}

#home .category-item {
    flex: 1;
}

#home .category-item img {
    width: 100%;
    height: 480px;

    border-radius: 12px;

    object-fit: cover;
}

#home .category-item .category-title {
    margin-top: 30px;

    font-size: 2.4rem;
    font-weight: 600;

    text-align: center;
}

#home .products {
    margin-top: 56px;
}

#home .products .products-content {
    max-width: calc(100% - 204px);
    margin: auto;
}

#home .products-content .sub-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;

    text-align: center;

    color: #3a3a3a;
}

#home .products .list-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    margin-top: 32px;
}

#home .list-products .product {
    background: #f4f5f7;
    height: 400px;
    position: relative;
}

#home .list-products .product-image {
    width: 100%;
    height: 65%;
    object-fit: contain;
}

#home .list-products .product-info {
    padding: 16px 0 30px 16px;
    height: 35%;
}

#home .product-info .product-name {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.5;

    color: #3a3a3a;
}

#home .product-info .product-desc {
    width: 80%;
    margin-top: 8px;

    font-size: 1.4rem;
    line-height: 1.5;

    color: #898989;
}

#home .product-info .product-price {
    margin-top: 8px;

    font-size: 2rem;
    font-weight: 600;

    color: #3a3a3a;
}

#home .products-content .products-btn {
    max-width: 245px;
    height: 48px;
    border: 1px solid #b88e2f;
    margin: 32px auto 0;

    font-weight: 600;

    color: #b88e2f;
}

#home .list-products .product-hover {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: rgba(51, 51, 51, 0.72);

    position: absolute;
    top: 0;

    display: none;
}

#home .product-hover .product-actions {
    width: 88%;
}

#home .product-hover .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 24px;
}

#home .product-hover .cart-btn {
    max-width: 80%;
    height: 48px;
    margin: auto;

    font-weight: 600;

    color: #b88e2f;
    background: #fff;
}

#home .product-hover .action {
    display: flex;
    align-items: center;
    gap: 2px;
}

#home .product-hover .action-name {
    font-weight: 600;

    color: #fff;
}

#home .product:hover .product-hover {
    display: flex;
}

#home .inspiration {
    margin-top: 69px;

    background: #fcf8f3;

    overflow: hidden;
}

#home .inspiration .inspiration-content {
    display: flex;
    align-items: center;
    padding: 44px 0 44px 100px;

    position: relative;
}

#home .inspiration .inspiration-introduce {
    flex-shrink: 0;

    width: 30%;
    margin-right: 42px;
}

#home .inspiration-introduce .sub-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;

    color: #3a3a3a;
}

#home .inspiration-introduce .desc {
    margin-top: 7px;

    font-weight: 500;
    line-height: 1.5;

    color: #616161;
}

#home .inspiration-introduce .inspiration-btn {
    margin-top: 25px;

    max-width: 176px;
    height: 48px;

    font-weight: 600;
    line-height: 1.5;

    color: #fff;
    background: #b88e2f;
}

#home .inspiration-content .inspiration-rooms {
    flex-shrink: 0;

    display: flex;
    gap: 24px;

    width: 83%;
}

#home .inspiration-rooms .room {
    flex-shrink: 0;

    width: 31%;
    height: 486px;

    position: relative;
}

#home .inspiration-rooms .room:first-child {
    width: 34%;
    height: 582px;
}

#home .room .room-picture {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

#home .room .room-introduce {
    width: 54%;
    height: 130px;

    background: #fff;

    opacity: 72%;

    position: absolute;
    bottom: 4%;
    left: 6%;
}

#home .room-introduce .info {
    padding: 15% 8% 0 15%;
}

#home .room-introduce .general-information {
    display: flex;
    align-items: center;
    gap: 8px;
}

#home .room-introduce .numerical-order {
    font-weight: 500;

    color: #616161;
}

#home .room-introduce .general-information div {
    width: 27px;
    height: 1px;

    background: #616161;
}

#home .room-introduce .room-type {
    font-weight: 500;

    color: #616161;
}

#home .room-introduce .inspiration-name {
    margin-top: 20px;

    font-size: 2.5rem;
    font-weight: 600;

    color: #3a3a3a;
}

#home .room .room-detail {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;

    background: #b88e2f;

    position: absolute;
    right: 27.1%;
    bottom: 4%;
}

#home .inspiration-rooms .next-room {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;

    border-radius: 50%;

    background: #fff;

    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
}
