#new-password .new-password-header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 316px;

  background-image: url(/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

#new-password .new-password-header .new-password-title {
  font-size: 4.8rem;
  font-weight: 500;

  text-align: center;
}

#new-password .new-password-header .new-password-breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  margin-top: 20px;
}

#new-password .new-password-breadcrumb a {
  font-weight: 500;

  color: #000;
}

#new-password .new-password-body .new-password-container {
  width: 40%;
  padding: 50px 0;
  margin: auto;
}

#new-password .new-password-container .sub-title {
  padding-bottom: 8px;
  border-bottom: 1px solid #e5e5e8;

  font-weight: 700;

  position: relative;
}

#new-password .new-password-container .sub-title::after {
  content: "";

  display: block;

  width: 40%;
  height: 1.5px;
  background: #b88e2f;

  position: absolute;
  bottom: -1px;
}

#new-password .new-password-container .title-form {
  margin-top: 15px;

  font-size: 1.3rem;
}

#new-password .new-password-container #new-password-form {
  margin-top: 15px;
}

#new-password #new-password-form .group {
  width: 88%;
  margin: auto;
}

#new-password #new-password-form .input-group {
  position: relative;
}

#new-password #new-password-form .input-group i {
  font-size: 2rem;

  color: #cbcbcb;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
}

#new-password #new-password-form input {
  width: 100%;
  padding: 25px 0;
  padding-left: 70px;
  border: 1px solid #9f9f9f;

  border-radius: 10px;
  outline: none;

  font-size: 1.6rem;
  font-weight: 400;

  color: #9f9f9f;
  background: #fff;

  transition: all 0.2s ease;
}

#new-password #new-password-form .invalid input {
  border-color: #d93025;
}

#new-password #new-password-form input:focus {
  border-color: #b88e2f;
}

#new-password #new-password-form input:focus ~ .fa-lock {
  color: #b88e2f;
}

#new-password #new-password-form .input-group::after {
  content: "";

  width: 6px;
  height: 44px;

  background: url(/img/icon_popup_login.png);
  background-position: -19px 0;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 48px;
}

#new-password #new-password-form .group + .group {
  margin-top: 30px;
}

#new-password #new-password-form .hide_show_password {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}

#new-password #new-password-form .error {
  display: flex;
  align-items: baseline;

  margin-top: 6px;

  font-size: 1.3rem;

  color: #d93025;

  display: none;
}

#new-password #new-password-form .invalid .error {
  display: flex;
}

#new-password #new-password-form .error .fa-circle-exclamation {
  position: relative;

  margin-right: 6px;
  font-size: 1.5rem;
}

#new-password #new-password-form .error .error-text {
  line-height: 1.5;
}

#new-password .new-password-container .new-password-btn {
  width: 100%;
  height: 50px;
  border: 1px solid #b88e2f;
  margin: 30px auto 0;

  border-radius: 5px;

  font-weight: 700;

  color: #fff;
  background: #b88e2f;

  transition: 0.5s ease;
}

#new-password .new-password-container .new-password-btn:hover {
  color: #b88e2f;
  background: #fff;
}
