#reset-code .reset-code-header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 316px;

  background-image: url(/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

#reset-code .reset-code-header .reset-code-title {
  font-size: 4.8rem;
  font-weight: 500;

  text-align: center;
}

#reset-code .reset-code-header .reset-code-breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  margin-top: 20px;
}

#reset-code .reset-code-breadcrumb a {
  font-weight: 500;

  color: #000;
}

#reset-code .reset-code-body .reset-code-container {
  width: 40%;
  padding: 50px 0;
  margin: auto;
}

#reset-code .reset-code-container .sub-title {
  padding-bottom: 8px;
  border-bottom: 1px solid #e5e5e8;

  font-weight: 700;

  position: relative;
}

#reset-code .reset-code-container .sub-title::after {
  content: "";

  display: block;

  width: 40%;
  height: 1.5px;
  background: #b88e2f;

  position: absolute;
  bottom: -1px;
}

#reset-code .reset-code-container .title-form {
  margin-top: 15px;

  font-size: 1.3rem;
}

#reset-code .reset-code-container #reset-code-form {
  margin-top: 15px;
}

#reset-code #reset-code-form .group {
  width: 88%;
  margin: auto;
}

#reset-code #reset-code-form .input-group {
  position: relative;
}

#reset-code #reset-code-form .fa-code {
  font-size: 2rem;

  color: #cbcbcb;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
}

#reset-code #reset-code-form input {
  width: 100%;
  padding: 25px 0;
  padding-left: 70px;
  border: 1px solid #9f9f9f;

  border-radius: 10px;
  outline: none;

  font-size: 1.6rem;
  font-weight: 400;

  color: #9f9f9f;
  background: #fff;

  transition: all 0.2s ease;
}

#reset-code #reset-code-form .invalid input {
  border-color: #d93025;
}

#reset-code #reset-code-form input:focus {
  border-color: #b88e2f;
}

#reset-code #reset-code-form input:focus ~ .fa-code {
  color: #b88e2f;
}

#reset-code #reset-code-form .input-group::after {
  content: "";

  width: 6px;
  height: 44px;

  background: url(/img/icon_popup_login.png);
  background-position: -19px 0;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 48px;
}

#reset-code #reset-code-form .error {
  display: flex;
  align-items: baseline;

  margin-top: 6px;

  font-size: 1.3rem;

  color: #d93025;

  display: none;
}

#reset-code #reset-code-form .invalid .error {
  display: flex;
}

#reset-code #reset-code-form .error .fa-circle-exclamation {
  margin-right: 6px;
  font-size: 1.5rem;
}

#reset-code #reset-code-form .error .error-text {
  line-height: 1.5;
}

#reset-code .reset-code-container .reset-code-btn {
  width: 100%;
  height: 50px;
  border: 1px solid #b88e2f;
  margin: 30px auto 0;

  border-radius: 5px;

  font-weight: 700;

  color: #fff;
  background: #b88e2f;

  transition: 0.5s ease;
}

#reset-code .reset-code-container .reset-code-btn:hover {
  color: #b88e2f;
  background: #fff;
}

@media (max-width: 768px) {
  #reset-code .reset-code-header {
    height: 200px;
    background-position: center;
  }

  #reset-code .reset-code-header .reset-code-title {
    font-size: 3rem;
  }

  #reset-code .reset-code-body .reset-code-container {
    width: 90%;
    padding: 20px 0;
  }

  #reset-code .reset-code-container .sub-title {
    font-size: 1.8rem;
  }

  #reset-code .reset-code-container .title-form {
    font-size: 1.2rem;
  }

  #reset-code #reset-code-form .fa-code {
    font-size: 1.6rem;
    left: 10px;
  }

  #reset-code #reset-code-form input {
    padding-left: 40px;
  }

  #reset-code #reset-code-form .input-group::after {
    left: 30px;
  }

  #reset-code .reset-code-container .reset-code-btn {
    height: 45px;
    font-size: 1.4rem;
  }
}