<footer id="footer">
    <div class="footer-content">
        <div class="footer-info">
            <div class="column">
                <h3 class="name-app">Funiro.</h3>

                <p class="desc">400 University Drive Suite 200 Coral Gables,
                    <br />FL 33134 USA</p>
            </div>

            <div class="column">
                <p class="heading">Links</p>

                <ul class="list">
                    <li class="item"><a href="/">Home</a></li>
                    <li class="item"><a href="/shop">Shop</a></li>
                    <li class="item"><a href="#!">About</a></li>
                    <li class="item"><a href="#!">Contact</a></li>
                </ul>
            </div>

            <div class="column">
                <p class="heading">Help</p>

                <ul class="list">
                    <li class="item"><a href="#!">Payment Options</a></li>
                    <li class="item"><a href="#!">Returns</a></li>
                    <li class="item"><a href="#!">Privacy Policies</a></li>
                </ul>
            </div>

            <div class="column">
                <p class="heading">Newsletter</p>

                <div class="input">
                    <input
                        type="email"
                        placeholder="Enter Your Email Address"
                    />

                    <br />

                    <button>SUBSCRIBE</button>
                </div>
            </div>
        </div>

        <p class="end">2023 furino. All rights reverved</p>
    </div>
</footer>