<header id="header">
    <nav class="nav-bar">
        <a href="#!" class="logo"><img src="/img/logo.svg" alt="Furniro" /></a>

        <ul class="navbar-menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/shop">Shop</a>
            </li>
            <li>
                <a href="#!">About</a>
            </li>
            <li>
                <a href="#!">Contact</a>
            </li>
        </ul>

        <div class="navbar-icons">
            <a href="#!" class="fas fa-user"><img
                    src="/img/profile.svg"
                    alt="Profile"
                /></a>
            <a href="/search" class="fas fa-search"><img
                    src="/img/search.svg"
                    alt="Search"
                /></a>
            <a href="#!" class="fas fa-heart"><img
                    src="/img/favourite.svg"
                    alt="Favourite"
                /></a>
            <a href="#!" class="fas fa-shopping-cart"><img
                    src="/img/cart.svg"
                    alt="Cart"
                /></a>
        </div>
    </nav>
</header>