<header id="header">
    <nav class="nav-bar">
        <a href="#!" class="logo"><img src="/img/logo.svg" alt="Furniro" /></a>

        <ul class="navbar-menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/shop">Shop</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>

        <div class="navbar-icons">
            {{#if user}}
                <i class="fa-solid fa-user" onclick="toggle()"></i>
                <div id="user-dropdown" class="dropdown-menu">
                    <form action="/logout?_method=DELETE" method="POST">
                        <button class="dropdown-item"><i
                                class="fa-solid fa-arrow-right-from-bracket"
                            ></i>Log out</button>
                    </form>
                </div>
            {{else}}
                <a href="/login" class="user"><img
                        src="/img/profile.svg"
                        alt="Profile"
                    /></a>
            {{/if}}
            <a href="/search" class="search"><img
                    src="/img/search.svg"
                    alt="Search"
                /></a>
            <a href="#!" class="heart"><img
                    src="/img/favourite.svg"
                    alt="Favourite"
                /></a>
            <a href="/cart" class="shopping-cart"><img
                    src="/img/cart.svg"
                    alt="Cart"
                /></a>
        </div>
    </nav>
</header>

<script src="/script/header.js"></script>