<main id="about">
    <div class="shop-header">
        <div class="shop-introduce">
            <h1 class="shop-title">About Us</h1>
            <div class="shop-breadcrumb">
                <a href="/">Home</a>
                <img src="/img/arrow_right.svg" alt="" />
                <p>About us</p>
            </div>
        </div>
    </div>

    <div class="about-us-container">
        <div class="about-us">
            <h2 class="heading">About Us</h2>
            <p class="description">
                Welcome to Furniro! We are dedicated to providing you with the
                highest quality cars that combine both functionality and
                aesthetics. Our team is passionate about design and
                craftsmanship, ensuring that every vehicle we offer meets our
                strict standards of quality and style.
            </p>

            <p class="description">
                At Furniro, we believe that your car should reflect your
                personality and lifestyle. That's why we offer a wide range of
                products to cater to your unique tastes and needs. Our
                commitment to sustainability and ethical sourcing means you can
                shop with confidence, knowing that you are supporting
                responsible practices.
            </p>
        </div>

        <div class="our-mission">
            <h2 class="heading">Our Mission</h2>
            <p class="description">
                Our mission is to inspire and empower you to create
                experiences that you love. We strive to provide exceptional
                customer service and a seamless shopping experience, from
                the moment you browse our collection to the delivery of your
                new product.
            </p>
        </div>
    </div>

    <div class="shop-services">
        <div class="services-content">
            <div class="service">
                <img src="/img/trophy_icon.svg" alt="" class="service-icon" />
                <div class="service-info">
                    <h3>High Quality</h3>
                    <p>crafted from top materials</p>
                </div>
            </div>
            <div class="service">
                <img src="/img/warranty_icon.svg" alt="" class="service-icon" />
                <div class="service-info">
                    <h3>Warranty Protection</h3>
                    <p>Over 2 years</p>
                </div>
            </div>
            <div class="service">
                <img src="/img/shipping_icon.svg" alt="" class="service-icon" />
                <div class="service-info">
                    <h3>Free Shipping</h3>
                    <p>Order over 150 $</p>
                </div>
            </div>
            <div class="service">
                <img src="/img/support_icon.svg" alt="" class="service-icon" />
                <div class="service-info">
                    <h3>24 / 7 Support</h3>
                    <p>Dedicated support</p>
                </div>
            </div>
        </div>
    </div>
</main>