<main id="login">
    <div class="login-header">
        <div class="login-introduce">
            <h1 class="login-title">Login</h1>
            <div class="login-breadcrumb">
                <a href="/">Home</a>
                <img src="/img/arrow_right.svg" alt="" />
                <p>Login</p>
            </div>
        </div>
    </div>

    <div class="login-body">
        <div class="login-container">
            <h2 class="sub-title">Login</h2>

            <p class="title-form">Insert your account information:</p>

            <form id="login-form">
                <div class="input-group form-email">
                    <input
                        type="email"
                        placeholder="Enter your email"
                        required
                    />

                    <i class="fa-solid fa-envelope"></i>
                </div>

                <div class="input-group form-password">
                    <input
                        type="password"
                        placeholder="Enter your password"
                        required
                    />

                    <i class="fa-solid fa-lock"></i>

                    <div class="hide_show_password">
                        <div class="hide">
                            <i class="fa-solid fa-eye-slash"></i>
                        </div>
                    </div>
                </div>

                <div class="login-option-field">
                    <span class="login-checkbox">
                        <input type="checkbox" id="login-check" />
                        <label for="login-check">Remember me</label>
                    </span>

                    <a href="#!" class="forgot_pw">Forgot password?</a>
                </div>
            </form>

            <button class="button login-btn" type="submit">LOGIN NOW</button>

            <p class="login-register">Don't have an account?
                <a href="/register" class="register-link">Register Here</a></p>
        </div>
    </div>
</main>