<main id="new-password">
    <div class="new-password-header">
        <div class="new-password-introduce">
            <h1 class="new-password-title">New Password</h1>
            <div class="new-password-breadcrumb">
                <a href="/reset-code">Code verification</a>
                <img src="/img/arrow_right.svg" alt="" />
                <p>New password</p>
            </div>
        </div>
    </div>

    <div class="new-password-body">
        <div class="new-password-container">
            <h2 class="sub-title">New Password</h2>

            <form id="new-password-form">
                <div class="group form-password">
                    <div class="input-group">
                        <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Create new password"
                            required
                        />

                        <i class="fa-solid fa-lock"></i>

                        <div class="hide_show_password">
                            <div class="hide">
                                <i class="fa-solid fa-eye-slash"></i>
                            </div>
                        </div>
                    </div>

                    <span class="error password-error">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <p class="error-text">Please enter at least 8 character
                            with number, symbol, small and capital letter.</p>
                    </span>
                </div>

                <div class="group form-confirm-password">
                    <div class="input-group">
                        <input
                            type="password"
                            id="confirm_password"
                            name="confirm_password"
                            placeholder="Confirm password"
                            required
                        />

                        <i class="fa-solid fa-lock"></i>

                        <div class="hide_show_password">
                            <div class="hide">
                                <i class="fa-solid fa-eye-slash"></i>
                            </div>
                        </div>
                    </div>

                    <span class="error cPassword-error">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <p class="error-text">Password don't match.</p>
                    </span>
                </div>

                <button
                    class="button new-password-btn"
                    type="submit"
                >CHANGE</button>
            </form>
        </div>
    </div>
</main>

<script src="/script/newPassword.js"></script>