<main id="register">
    <div class="register-header">
        <div class="register-introduce">
            <h1 class="register-title">Sign up</h1>
            <div class="register-breadcrumb">
                <a href="/">Home</a>
                <img src="/img/arrow_right.svg" alt="" />
                <p>Sign up</p>
            </div>
        </div>
    </div>

    <div class="register-body">
        <div class="register-container">
            <h2 class="sub-title">Create an account</h2>

            <form id="register-form" action="/register" method="POST">
                <div class="input-group form-email">
                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Enter your email"
                        required
                    />

                    <i class="fa-solid fa-envelope"></i>

                    <span class="form-message"></span>
                </div>

                <div class="input-group form-password">
                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Create password"
                        required
                    />

                    <i class="fa-solid fa-lock"></i>

                    <div class="hide_show_password">
                        <div class="hide">
                            <i class="fa-solid fa-eye-slash"></i>
                        </div>
                    </div>
                </div>

                <div class="input-group form-password">
                    <input
                        type="password"
                        id="confirm_password"
                        name="confirm_password"
                        placeholder="Confirm password"
                        required
                    />

                    <i class="fa-solid fa-lock"></i>

                    <div class="hide_show_password">
                        <div class="hide">
                            <i class="fa-solid fa-eye-slash"></i>
                        </div>
                    </div>
                </div>

                <button class="button register-btn" type="submit">REGISTER NOW</button>
            </form>

            {{!  }}
            <div id="error-message" class="error-message" style="display:none;">
                <p>Passwords do not match!</p>
            </div>
            {{!  }}

            <p class="register-login">Already have an account?
                <a href="/login" class="login-link">Login Here</a></p>
        </div>
    </div>
</main>

<script src="/script/register.js"></script>