<div class="search-form">
    <form class="form-display" method="GET" action="/shop/search">
        <div>
            <label for="search-input" class="form-label"></label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Search the item (Name, Descripton...)">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
